Repository kalyantc/Terraform-Demo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/infrastructure/azure-pipelines.yml

Path conditions:
  azure-pipelines.yml: any file but: README.md
  pipelines/infrastructure/azure-pipelines.yml: any of: pipelines/infrastructure, terraform

Test Sonar
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Due: azure-pipelines.yml

Update README.md
  README.md
Due: none

Delete sonar-project.properties
  sonar-project.properties
Due: azure-pipelines.yml

Delete azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Delete terraform directory
  terraform/.terraform.lock.hcl
  terraform/backend.tf
  terraform/compute.tf
  terraform/env/dev.tfvars
  terraform/env/prod.tfvars
  terraform/load_balancer.tf
  terraform/provider.tf
  terraform/resource_groups.tf
  terraform/scripts/setup.sh
  terraform/variables.tf
  terraform/vnet.tf
Due: azure-pipelines.yml, pipelines/infrastructure/azure-pipelines.yml

Delete pipelines/infrastructure directory
  pipelines/infrastructure/azure-pipelines.yml
  pipelines/infrastructure/templates/terraform-apply.yml
  pipelines/infrastructure/templates/terraform-install-init-plan.yml
Due: azure-pipelines.yml, pipelines/infrastructure/azure-pipelines.yml

Delete .github/workflows directory
  .github/workflows/sonarcloud.yml
Due: azure-pipelines.yml

Create test.json
  test.json
Due: azure-pipelines.yml

Update test.json
  test.json
Due: azure-pipelines.yml
